[NetDev]
Name={{ wireguard_interface }}
Kind=wireguard
Description=WireGuard tunnel {{ wireguard_interface }}

[WireGuard]
ListenPort={{ wireguard_port }}
PrivateKeyFile=/etc/wireguard/privatekey

{% for peer in groups[wireguard_site_group_name] if hostvars[peer].wireguard_site_gateway|default(wireguard_site_gateway) %}

[WireGuardPeer]
PublicKey={{ hostvars[peer].wireguard__register_public_key }}
PresharedKeyFile=/etc/wireguard/psk-{{ peer }}
AllowedIPs={{ wireguard_cidr }}
Endpoint={{ peer }}:{{ hostvars[peer].wireguard_port }}
{% endfor %}
