[Interface]
Address = {{ _wireguard_ip }}
PrivateKey = {{ __register_edge_private_keys[item.key] }}

{% for peer in global_accessible_hosts if hostvars[peer]._wireguard.mesh_group in item.value.allowed_groups %}

[Peer]
PublicKey = {{ hostvars[peer]._wireguard.public_key }}
PresharedKey = {{ hostvars[peer].__register_preshared_keys[item.key] }}
{% if hostvars[peer]._wireguard.is_site_gateway %}
AllowedIPs = {{ hostvars[peer]._wireguard.group_cidr }}
{% else %}
AllowedIPs = {{ hostvars[peer]._wireguard.ip_address | ansible.utils.ipsubnet }}
{% endif %}
Endpoint = {{ hostvars[peer].wireguard_host }}:{{ hostvars[peer].wireguard_port }}
PersistentKeepalive = 25
{% endfor %}
