apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus-stack
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: backbone
    namespace: prometheus
  project: monitoring
  source:
    chart: kube-prometheus-stack
    helm:
      releaseName: kube-prometheus-stack
      valueFiles:
        - values.yaml
        - 'https://raw.githubusercontent.com/isac322/homelab/HEAD/values/kube-prometheus-stack/backbone.yaml'
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 71.2.0
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: -1
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
