[NetDev]
Name = ${interface_name}
Kind = wireguard
Description = ${interface_name} client ${ip}

[WireGuard]
PrivateKey = ${private_key}

[WireGuardPeer]
PublicKey = ${server_public_key}
AllowedIPs = ${subnet}
Endpoint = ${server_host}:${server_port}
PresharedKey = ${preshared_key}
PersistentKeepalive = 25